body, html {
  height: 100%;
  padding: 0;
  margin: 0;
  background-color: rgb(55, 77, 115);
}

/* Header styles */
header {
  color: black;
  background-color: transparent;
}

/* main styles */
main{
  background-color: rgb(55, 77, 115);
}

/* nav styles */
nav {
  display: flex;
  justify-content: space-between;
  width: 500px;
}

/* nav link syles */
a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  transition: color .1s;
}

a:hover {
  color: black;
}

/* ordered list styles */
ol {
  list-style-type: none;
}

li {
  background-color: white;
  border: solid 5px black;
  margin: 10px;
}

p {
  margin-left: 5px;
}

/* button styles */
button {
  background-color: #225ca3;
  border: 0;
  padding: 1%;
  color: white;
  font-weight: bold;
  transition: background-color .1s;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: #3486eb;
}

/* post header styles */
.post-header {
  display: flex;
  justify-content: space-between;
  color: rgb(242, 255, 226);
  background-color: black;
  padding: 5px;
}

.post-list {
  margin: 0;
  padding: 0;
}

/* textarea styles */
textarea, input {
  padding: .5%;
  border-radius: 5px;
  border: 1px solid #ccc;
}

textarea:focus, input:focus {
  outline: none;
  border: 1px solid #3486eb;
}

textarea {
  min-width: 40%;
  min-height: 100px;
}

/* form styles */
form > div {
  margin-bottom: 2%;
}

form label {
  display: block;
}

/* wapper tag styles */
.wrapper {
  width: 100%;
  min-height: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

/* header styles */
header {
  border-bottom: 1px solid #ccc;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1%;
}

header h1 {
  font-size: 25px;
}

/* main styles */
main {
  flex: 1;
  padding: 2% 4%;
}

.btn-no-style {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  text-decoration: none;
  color: rgb(242, 255, 226);
  font-size: 100%;
  font-weight: bold;
  transition: color .1s;
}

.btn-no-style:hover {
  background: none;
  color: black;
}

/* delete post btn styles */
.delete-post-btn {
  background-color: transparent;
}

.delete-post-btn:hover {
  background-color: red;
}

/* post styles */
.post {
  line-height: 150%;
}

/* title styles */
.title {
  font-weight: bold;
}

.post .title span {
  font-style: italic;
  font-size: 90%;
  color: #7d7d7d;
}

.edit-link {
  display: block;
  color: black;
  margin-left: 5px;
}

/* comment styles */
.comment-form {
  margin-bottom: 5%;
}

.comment {
  padding: 1%;
  margin-bottom: 1%;
  background-color: rgb(224, 224, 255);
}

.comment:nth-child(odd) {
  background-color: #d4f7fd;
}

.comment .meta {
  font-size: 90%;
  margin-bottom: .5%;

  opacity: .6;
}

.post-title-input {
  width: 300px;
}

.post-contents-input {
  width: 600px;
}

.edit-post-form {
  margin-bottom: 5%;
}